<div class="container">
  <app-header></app-header>
  <ng-container *ngIf="storageService.getCurrentUser() as currentLoggedUser">
    <div>
      <h1>Profile</h1>
      <h2>Welcome back {{currentLoggedUser.name}}</h2>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Private</th>
        <th scope="col">Questions quantity</th>
        <th scope="col">Themetags quantity</th>
        <th scope="col">Options</th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of forms">
        <tr>
          <td><a href="/answer/{{item.id}}">{{item.name}}</a></td>
          <td>{{"" + !!item.isPrivate + ""}}</td>
          <td>{{item.questionsCount}}</td>
          <td>{{item.themeTagCount}}</td>
          <td>
            <app-button class="danger" button_type="button" text="Delete" (click)="deleteForm(item.id)"></app-button>
            <app-button class="primary ml-2" button_type="button" text="Statistic" (click)="navigateToStatisticPage(item.id)"></app-button>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
</div>

