<app-header></app-header>
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <h1>Thank you for answering form!</h1>
        <h2>You can answer one more or create your own</h2>
        <a [routerLink]="['/home']" class="btn btn-link">Back to Home</a>
      </div>
    </div>
  </div>
</div>
