<app-header></app-header>
<div class="container">
  <div class="center">
    <ng-container *ngIf="form">
      <app-answer-form *ngIf="form" [form]="form" [answers]="answers"></app-answer-form>
      <app-button button_type="submit" class="primary" text="Answer"
                  (click)="saveAnswers()"></app-button>
    </ng-container>
  </div>
</div>



