<label [attr.for]="question.id">{{question.name}}</label>
<fieldset class="form-group">
<div class="form-check " [attr.id]="question.id" *ngFor="let varItem of question.variants">
  <input class="form-check-input" type="radio" (change)="onChange(varItem.id)" [attr.id]="varItem.id" [attr.name]="question.id">
  <label class="form-check-label" [attr.for]="question.id">{{varItem.text}}</label>
</div>
</fieldset>
