<app-header></app-header>
<div class="container">
  <h1>Thank you for creating form</h1>
  <a class="nav-link" href="#">Home page </a>
  <a class="nav-link" href="/create-page">Create one more form </a>
</div>
