<app-header></app-header>
<div class="container d-flex flex-column">
  <div class="row ">
    <ng-container *ngFor="let items of forms">
      <div class="col-lg-3 mb-4">
        <app-form [name]="items.name" [id]="items.id" [username]="items.username"></app-form>
      </div>
    </ng-container>
  </div>
  <div class="align-self-center mt-auto" *ngIf="this.page<this.pageQuantity" >
    <app-button class="primary" text="Add more" (click)="nextPage()"></app-button>
  </div>
</div>



