<app-header></app-header>
<div>

  <div class="center">
    <ng-container *ngIf="storageService.getCurrentUser()">
      <form [formGroup]="validationForm"
            (ngSubmit)="saveForm()">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name of your form" required
                 [(ngModel)]="formModel.name" formControlName="formName">
          <div class="alert alert-danger"
               *ngIf="validationForm.controls['formName'].invalid && validationForm.controls['formName'].touched">
            Please check your form name!
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Here you can place your tag" [(ngModel)]="themeTagName"
                 formControlName="themeTagName">
          <div>
            <app-button button_type="button" class="outline-primary" text="Add" (click)="addThemeTag()"
                        [disabled]="this.themeTagName==null||this.themeTagName.length==0"></app-button>
          </div>
        </div>
        <div class="alert alert-danger"
             *ngIf="validationForm.controls['themeTagName'].invalid && validationForm.controls['themeTagName'].touched">
          Please check your tag!
        </div>

        <div class="mb-3">
          Your tags:
          <ng-container *ngFor="let tag of this.formModel.themeTags">
            {{tag.name}};
          </ng-container>
        </div>


        <button type="button" class="btn btn-outline-danger mb-2"
                [(ngModel)]="formModel.private" btnCheckbox
                [ngModelOptions]="{standalone: true}">
          Private Form
        </button>
        <div *ngFor="let q of formModel.questions;">


          <div class="col-md-12 ml-1">
            <div class="form-group">
              <div class="flex-container">
                <div class="flex-item">
                  <input style="width: 20rem" type="text" class="form-control" placeholder="Type your question"
                         [(ngModel)]="q.name" formControlName="question{{q.id}}">
                </div>
                <div class="flex-item">
                  <button type="button" class="close" (click)="removeQuestions(q)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
          </div>


          <ng-container *ngIf="q.type === variantType; then variantQuestion; else textQuestion">
          </ng-container>


          <ng-template #textQuestion>
          </ng-template>

          <ng-template #variantQuestion>
            <div class="form-check" *ngFor="let item of q.variants;">
              <div class="col-md-12 ml-2">
                <div class="form-group">
                  <div class="flex-container">
                    <div class="flex-item">
                      <input style="width: 20rem" type="text" class="form-control" placeholder="Type your variant"
                             [(ngModel)]="item.text" formControlName="variant{{q.id}}_{{item.id}}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <app-button button_type="button" class="outline-primary mb-2" text="Add"
                        (click)="addVariant(this.formModel.questions.indexOf(q))"></app-button>
          </ng-template>


        </div>
        <div>
          <app-button button_type="button" class="primary my-2 mr-1" (click)="addTextQuestion();"
                      text="Add text"></app-button>
          <app-button button_type="button" class="primary my-2" (click)="addVariantQuestion()"
                      text="Add variant"></app-button>
        </div>

        <app-button button_type="submit" class="primary" text="Create"
                    [disabled]="!validationForm.valid||this.formModel.questions.length==0"></app-button>
      </form>

    </ng-container>
    <ng-container *ngIf="!storageService.getCurrentUser()">
      <h3>Before creating page you must Log In</h3>
    </ng-container>
  </div>


</div>
