<ng-container *ngIf="form">

  <h1>{{form.name}}</h1>
  <div *ngIf="form.themeTags.length>0" class="mb-3" style="color: #005cbf">
    Theme tags:
    <ng-container *ngFor="let tag of form.themeTags" >
      {{tag.name}};
    </ng-container>
  </div>
  <form>

    <div *ngFor="let question of form.questions; let i = index">
      <div *ngIf="question.type===textType">
        <app-text-answer [question]="question"
                         [answer]="answers[i]"></app-text-answer>
      </div>
      <div *ngIf="question.type===variantType">
        <app-var-answer [question]="question" [answer]="answers[form.questions.indexOf(question)]"></app-var-answer>
      </div>
    </div>

  </form>

</ng-container>

