<div class="card h-100">
  <img src="/assets/data/images/logo.jpg" class="card-img-top" width="100">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">User:{{username}}</p>
    <div class="align-self-center mt-auto">
      <app-button class="primary" text="Push" (click)="navigateToAnswer()"></app-button>
    </div>
  </div>
</div>

