<app-header></app-header>
<div class="container d-flex flex-column">
  <ng-container *ngIf="storageService.getCurrentUser()">
    <div class="row">
      <ng-container *ngFor="let items of forms">

        <div class="col-lg-3 mb-3">
          <app-form [name]="items.name" [id]="items.id" [username]="items.username"></app-form>
        </div>
      </ng-container>
    </div>
    <div *ngIf="this.page<this.pageQuantity">
      <app-button class="primary align-self-center mt-auto" text="Add more" (click)="nextPage()"
                  [disabled]="page>=pageQuantity"></app-button>
    </div>
  </ng-container>

  <ng-container *ngIf="!storageService.getCurrentUser()">
    <h3>Please Log in before checking private forms</h3>
  </ng-container>

</div>
