<div class="row">
  <div class="form-group col-md-12">
    <label [attr.for]="question.id">{{question.name}}</label>
    <input type="text" class="form-control" [attr.id]="question.id" placeholder="Your answer"
           [(ngModel)]="answer.answer">
  </div>
</div>
