<div class="modal fade modal-custom" id="exampleModalCenter" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">LogIn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input (focus)="showCheckYourSetDataAlert = false" type="email" class="form-control"
                   [(ngModel)]="loginModel.email" id="exampleInputEmail1" placeholder="Enter Email"
                   formControlName="email">
            <div class="alert alert-danger"
                 *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
              Please check your email!
            </div>

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input (focus)="showCheckYourSetDataAlert = false" type="password" class="form-control"
                   [(ngModel)]="loginModel.password" id="exampleInputPassword1" placeholder="Password"
                   formControlName="password">
            <div class="alert alert-danger"
                 *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
              Please check your password!
            </div>
          </div>
          <div *ngIf="showCheckYourSetDataAlert" class="login-form__danger-alert alert alert-danger" role="alert">
            Check Your set Data!
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>

          <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="navigateToRegisterPage()">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>





