<app-header></app-header>

<div class="d-flex justify-content-center mb-5">
  <h1>{{this.form.name}}</h1>
</div>

<!--<div class="page-wrap d-flex flex-row align-items-center">-->
<div class="container">
  <div class="row">


    <ng-container *ngFor="let question of this.questions">

      <ng-container *ngIf="question.type===textType">
        <div class="col-lg-4 mb-5 d-flex flex-column align-items-center">
          <h2>{{question.name}}</h2>
          <button type="button" class="btn btn-outline-primary" data-toggle="modal"
                  data-target="#exampleModalScrollable" (click)="showTextQuestions(question.id)">
            Show answers
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="question.type===variantType">
        <div class="col-lg-4 mb-5 d-flex flex-column align-items-center">

          <h2>{{question.name}}</h2>

          <table class="table table-sm table-striped" style="width: 100%">
            <thead>
            <th scope="col">Name</th>
            <th scope="col">Percents</th>
            <th scope="col">Quantity</th>
            </thead>
            <ng-container *ngFor="let stats of this.statistics">
              <tbody>
              <ng-container *ngIf="stats.id==question.id">
                <ng-container *ngFor="let variant of stats.statistics">
                  <tr>
                    <th scope="row">{{variant.varName}}</th>
                    <th>{{variant.percents.toFixed(2)}}</th>
                    <th>{{variant.answerQuantity}}</th>
                  </tr>
                </ng-container>
              </ng-container>
              </tbody>
            </ng-container>
          </table>


        </div>
      </ng-container>

    </ng-container>

  </div>

</div>


<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Answers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngFor="let textItem of this.textAnswers;let i=index;">
          <b>{{i+1}})</b>{{textItem.answer}}<br>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

