<div style="margin-bottom: 4rem">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-page">Create new form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/private-forms">Private forms</a>
          </li>
        </ul>
        <ng-container *ngIf="storageService.getCurrentUser() as currentLoggedUser">
          <div class="mr-2">
            You are logged as <a href="/profile" class="badge badge-primary">{{currentLoggedUser.name}}</a>
          </div>
          <app-button text="Logout" class="outline-danger mr-1" button_type="button" (click)="logout()"></app-button>
        </ng-container>
        <ng-container *ngIf="!storageService.getCurrentUser()">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Log In
          </button>
        </ng-container>
      </div>
    </div>
  </nav>
</div>
<app-register-button></app-register-button>

