<app-header></app-header>
<div class="container">
  <h1 class="text-center">Register page</h1>

  <form [formGroup]="registerForm"
        (ngSubmit)="saveUser(this.userModel)"
        class="center">
    <div class="form-row ">
      <div class="form-group col-md-4 ">
        <label for="username">Name</label>
        <input type="text" class="form-control" id="username" placeholder="Your Name" formControlName="name"
               [(ngModel)]="userModel.name">
        <div class="alert alert-danger"
             *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">
          Enter your name
        </div>
      </div>
      <div class="form-group col-md-8">
        <label for="inputEmail4">Email</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" [(ngModel)]="userModel.email"
               formControlName="email">
        <div class="alert alert-danger"
             *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
          Please check your email!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password"
               formControlName="password" [(ngModel)]="userModel.password">
        <div class="alert alert-danger"
             *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
          Enter your password!
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
               [(ngModel)]="userModel.address" [ngModelOptions]="{standalone: true}">
      </div>
    </div>


    <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>

